<ion-view side="left" view-title="Settings">

    <ion-header-bar align-title="left" class="bar-assertive">
        <button class="button button-icon icon ion-navicon"></button>

        <h1 class="title">Settings</h1>
        <div class="buttons">
            <button
                    class="button button-balanced ion-checkmark-round"
                    ng-click="proceed()">
            </button>
        </div>
    </ion-header-bar>

    <ion-content class="page-setup">
        <div class="header-image bar-assertive text-center">
            <img src="images/setup/header-settings.png" height="80"/>

            <h2>Setup</h2>
        </div>

        <form
                role="form"
                name="setupForm"
                novalidate="novalidate">
            <div class="list list-inset">

                <label class="item item-input">
                    <span class="input-label">Number of people</span>
                    <input type="number"
                           ng-model="data.people" required>
                </label>
                <label class="item item-input item-select">
                    <div class="input-label">
                        Dietary Requirements
                    </div>
                    <select ng-model="data.option"
                            ng-options="opt as opt.label for opt in options" required>
                    </select>
                </label>

                <label class="item item-input">
                    <div class="input-label">
                        Postcode
                    </div>
                    <input type="text"
                           ng-model="data.postcode"
                           ng-blur="isFormValid(setupForm.$valid)"
                           required>
                </label>

                <label class="item item-input item-icon-right">
                    <div class="input-label">
                        Budget
                    </div>

                    <i class="icon">
                      <ul class="inline">
                          <li ng-repeat="sbl in symbols"
                              ng-click = "setNewBudget(sbl)"
                              ng-class="{ active: sbl.isActive }">{{ ::sbl.value }}</li>
                      </ul>
                    </i>
                </label>

                <label class="item item-input item-icon-right" ng-click = "setNewBudget(symbol)">
                    <div class="input-label">
                        Payment Details
                    </div>

                    <i class="icon">
                        <img src="../../../images/setup/mastercard.png" height="30" />
                    </i>
                </label>
            </div>
        </form>
    </ion-content>
</ion-view>