<ion-view view-title="Summary">
    <ion-nav-buttons side="right">
        <button
                class="button button-balanced ion-checkmark-round"
                ng-click="proceed()">
            <!--ng-if="isValid"-->
        </button>
    </ion-nav-buttons>

    <ion-content class=" text-center">
        <div class="header-image text-center">
            <img src="images/setup/complete/header-complete.png" height="80"/>

            <h2>Completed</h2>
        </div>

        <p><strong>Coles North Sydney</strong></p>

        <p>for</p>

        <p><strong>1 person</strong></p>

        <p>with</p>

        <p><strong>no dietary requirements</strong></p>

        <p>on a</p>

        <p><strong>basic/medium/gourmet budget</strong></p>
    </ion-content>
</ion-view>