@font-face {
    font-family: 'Grotesque';
    font-weight: 400;
    src: url('/fonts/Brandon_med.otf');
}

@font-face {
    font-family: 'Grotesque Bold';
    font-weight: 600;
    src: url('/fonts/Brandon_med.otf');
}



/******************************/
/********** GENERIC ***********/
/******************************/

body, input, button, select, textarea,
h1, h2, h3, h4, h5 {
    font-family: 'Grotesque', Helvetica Neue, Helvetica, Arial;
    font-weight: 400;
}

strong {
    font-weight: 600;
    font-size: 18px;
}

p {
    font-size: 17px;
}

ul.inline li {
    display: inline;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}


/******************************/
/******** LOGIN PAGE **********/
/******************************/

.bar.bar-stable {
    border-color: transparent;
}

.bar .button.ion-chevron-left,
.bar .button.ion-navicon {
    margin-top: -4px;
}

.bar.bar-stable,
.bar-subheader {
    background-color: #d1d2d4;
}

.bar .title {
    font-size: 22px;
}


.bar .button-balanced,
.bar .button-balanced.activated {
    border: 1px solid #C5C56B;
    background-color: #C5C56B;
}

.bar .title + .button:last-child,
.bar > .button + .button:last-child,
.bar > .button.pull-right,
.bar .buttons.pull-right,
.bar .title + .buttons {
    right: 0;
    top: 0;
}

.header-image {
    min-height: 140px;
    margin-bottom: 30px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.header-image h2 {
    font-size: 39px;
    margin-bottom: 0;
    margin-top: 0;
}

.bar .button {
    border-radius: 0;
    font-size: 28px;
    height: 45px;
    right: 0;
    top: 0;
    width: 50px;
}

.page-checkout-complete .bar.bar-light.bar-footer {
    background-color: white;
    cursor: pointer;
    height: 60px;
}

.page-checkout-complete .bar.bar-light.bar-footer strong {
    font-size: 28px;
}

.page-checkout-complete .has-footer {
    bottom: 70px;
}


/******************************/
/******** SETUP PAGE **********/
/******************************/

.page-main,
.bar-assertive,
.bar.bar-assertive {
    background-color: #e47766;
    background-image: none;
}

.bar-calm,
.bar.bar-calm{
    background-color: #74c7e3;
    background-image: none;
}

.bar.bar-light {
    background-color: transparent;
    background-image: none;
}

.bar-energized,
.bar.bar-energized,
.page-checkout-complete {
    background-color: #f6c15b;
    background-image: none;
}




.page-setup .item {
    border-left: none;
    border-right: none;
}

.page-setup .item:before {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;

    border-top: 20px solid #f00;

}

.page-setup .item:first-child {
    border-top: none;
}

.page-setup ul {
    font-size: 17px;
}

.page-setup ul li {
    color: #dddddd;
    font-weight: bold;
    padding: 5px 15px;
}

.page-setup ul li:last-child {
    padding-right: 0;
}

.page-setup ul li:hover {
    color: #636463;
    cursor: pointer;
}

.page-setup ul li:not(:first-child) {
    border-left: 2px solid #ddd;
}


/***************************************/
/******** MEAL SELECTION PAGE **********/
/***************************************/

.page-meal-selection strong {
    display: inline-block;
    font-size: 32px;
    width: 130px;
}

.page-meal-selection .small {
    margin-bottom: 30px;
}


.page-meal-selection .button {
    min-width: 24px;
    min-height: 20px;
    line-height: 15px;
    padding: 3px;
    border-radius: 13px;
}


/*************************************/
/******** MEAL SUMMARY PAGE **********/
/*************************************/

.page-meal-summary {
    margin-top: 50px;
}

.page-meal-summary .list {
    margin-top: 20px;
}

.page-meal-summary .item {
    color: #000000;
}

.page-meal-summary .item .icon {
    color: #6D6E71;
}

.page-meal-summary .item strong {
    padding-right: 40px;
}

.page-meal-summary .item-stable,
.page-meal-summary .item-stable.activated {
    background-color: #d1d2d4;
    border-color: #d1d2d4;
}

.page-meal-summary .item-balanced,
.page-meal-summary .item-balanced.activated {
    background-color: #cde3a4;
    border-color: #cde3a4;
}

.page-meal-summary .item-calm,
.page-meal-summary .item-calm.activated {
    background-color: #a6dcdf;
    border-color: #a6dcdf;
}

.page-meal-summary .item-energized,
.page-meal-summary .item-energized.activated {
    background-color: #dbbaa2;
    border-color: #dbbaa2;
}

.page-meal-summary .icon {
    cursor: pointer;
}


.header-meal-scan {
    height: 115px;
}


.page-checkout-summary h1 {
    font-size: 45px;
}


.page-main {
    padding-top: 50px;
}

.page-main .bar-footer,
.page-main .bar-footer .row,
.page-main .bar-footer .col {
    padding: 0;
}


.page-main .bar-footer {
    height: 185px;
}

.page-main .bar-footer .col {
    padding-top: 10px;
}

.page-main .col-complete {
    background-color: #74c7e3;
}

.page-main .col-hat {
    background-color: #f6c15b;
}

.page-main strong {
    padding-top: 10px;
}

