<ion-view view-title="Meal Selection">
    <ion-nav-buttons side="right">
        <button
                class="button button-balanced ion-checkmark-round"
                ng-click="proceed()">
            <!--ng-if="isValid"-->
        </button>
    </ion-nav-buttons>

    <ion-content class=" text-center page-meal-selection">

        <div class="header-image text-center">
            <img src="images/meal/selection/header-selection.png" height="80"/>
        </div>

        <div ng-repeat="selection in mealSelection">
            <p>
                <button ng-click = "decreaseSelection(selection)"
                        class="button button-light ion-minus-round"></button>
                <strong>{{ selection.number }} meals</strong>
                <button ng-click = "increaseSelection(selection)"
                        class="button button-light ion-plus-round"></button>
            </p>
            <p class="small">{{ ::selection.value }}</p>
        </div>
    </ion-content>
</ion-view>