<ion-view view-title="cool" class="page-main">

    <ion-content>
        <div class="text-center logo-main">
            <img src="images/main/700x700-logo-transparent.png" height="350" />
        </div>
    </ion-content>

    <div class="bar bar-footer">
        <div class="text-center row">
            <div class="col col-50 col-complete">
                <div>
                    <img src="images/checkout/header-complete.png" height="130" />

                </div>
                <strong>Shopping</strong>
            </div>
            <div class="col col-50 col-hat">
                <div>
                    <img src="images/main/320x320-hat.png" height="130" />
                </div>
                <strong>My meals</strong>
            </div>
        </div>
    </div>
</ion-view>