<ion-view view-title="Coles North Sydney">
    <ion-header-bar align-title="left" class="bar-calm header-meal-scan">
        <button class="button button-icon icon ion-chevron-left"></button>
        <!--<div class="buttons">-->
        <!--<button class="button" ng-click="doSomething()">Left Button</button>-->
        <!--</div>-->
        <h1 class="title">Settings</h1>
        <div class="buttons">
            <button
                    class="button button-balanced ion-checkmark-round"
                    ng-click="proceed()">
            </button>
        </div>
    </ion-header-bar>

    <ion-content class="page-meal-summary">
        <div class="list" ng-repeat="scan in ::mealScan">

            <div class="item item-divider">
                {{ ::scan.title }}
            </div>

            <a class="item item-icon-right  item-{{ ::product.color }}"
               ng-repeat="product in ::scan.products track by $index">
                <strong>{{ ::product.price }}</strong>
                {{ ::product.description }}
                <i class="icon ion-{{ ::product.icon }}"></i>
            </a>

        </div>
    </ion-content>


    <ion-footer-bar class="bar-stable">
        <h1 class="title">Barcode Scanner</h1>
    </ion-footer-bar>
</ion-view>